.intro {
  font-size: 24px;
  width: 90%;
  margin: auto;
}
.title-math-options {
  width: 90%;
  margin: auto;
  text-align: center;
  margin-top: 10vh;
  font-size: 24px;
  font-weight: 500;
  color: #f7c0b2;
}
.options-holder {
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.option {
  width: 100%;
  max-width: 350px;
  margin: 15px 10px 15px 10px;
  padding: 5px;
  height: 200px;
  border-radius: 15px;
}
.img-option {
  width: 100%;
  height: 80%;
  border-radius: 15px 15px 0px 0px;
}
.title-option {
  color: #0d3b47;
  font-weight: 700;
  padding: 5px;
}
.op1 {
  background-color: #d3ffc8;
}
.op2 {
  background-color: #ffeba0;
}
.op3 {
  background-color: #ced7ff;
}
.op4 {
  background-color: #b5f1ff;
}
