.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 0px 10px 0px;
  height: 120px;
  background-color: #f7c0b2;
}
.logo-holder {
  flex: 1;
}
.logo {
}
.name-holder {
  flex: 2;
}
.name {
}
